# Server Port
PORT=3000

# PostgreSQL Neon Database Connection URL
# Example: postgresql://neondb_owner:password@ep-cool-mountain-123456.us-east-2.aws.neon.tech/neondb?sslmode=require
DATABASE_URL=postgresql://username:password@ep-xyz-123456.region.aws.neon.tech/neondb?sslmode=require

# Cloudinary Configuration for Image Uploads
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
